* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2f2;
  color: #323232;
  display: flex;
  justify-content: center;
}
